body{
	background-color: white;

}
.head{
	text-align: center;
	background-color: green;
	padding: 10px 5px 10px 2px
	color: white;
}

.myNewNav{
	text-align: center; 
	background-color: white;
	padding: 21px 10px 21px 54px;
}

.mylink{
	color: black;
	text-decoration: none;
	padding: 0px 10px 0px 10px;

}
.started{
	background-color: darkgrey;
	text-decoration: white;
	padding: 20px 0px 20px 10px;
}
.red{
	color: red;
}
#black{
	color: black;
}