body{
  
}

h1{
    font-size: 70px;
    color:#ffffff;
	

    font-family: 'Nanum Pen Script', cursive;

    font-family: 'Lobster Two', cursive;

    font-family: 'Oxygen', sans-serif;


}
.bgcolor1{background-color: #ff00dd;}
.bgcolor2{background-color: #ff0023;}

.fcolor{color :#ff009b;}
.fcolor{color :#00ffcd;}